.presentation_overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: black;
  font-size: 22;
  opacity: 0.5;
}

.widgets {
  border: 2px dashed red;
  position: absolute;
}
