.presentation-overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: black;
  opacity: 0.5;
  overflow-y: auto;
}

.presentation-overlay-menu {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
}

.presentation-overlay-menu-button{
  width: 200px;
  height: 50px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 1.5em;
}


.presentation-widget-container {
  border: 2px dashed red;
  position: absolute;
  cursor: pointer;
}
.presentation-widget-container .textbox {
  visibility: hidden;
  width: 100%;
  height: 2.5em;
}
.presentation-widget-container textarea.textbox {
  height: calc(100% - 2.5em);
}

.presentation-widget-container.selected {
  background-color: white;
}
.presentation-widget-container.selected .textbox {
  visibility: visible;
}
